{# src/NTE/AgathoklesBundle/Resources/views/Fiches/index.html.twig #}

{% extends "NTEAgathoklesBundle:Default:layout.html.twig" %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/nteagathokles/js/z_fiches.js') }}"></script>
{% endblock %}

{% block agathokles_content %}

    <div id="fiches" class="container">
        <div class="page-header">
          <h1>Timbres {% if subtitle is defined %}<small>{{ subtitle }}</small>{% endif %}</h1>
        </div>
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                  <li role="presentation" {% if app.session.get('timbres_subset') == "all" %}class="active"{% endif %}><a href="{{ path('timbres') }}">Tous les timbres</a></li>
                  <li role="presentation" {% if app.session.get('timbres_subset') == "epo" %}class="active"{% endif %}><a href="{{ path('timbres_eponymes') }}">Eponymes</a></li>
                  <li role="presentation" {% if app.session.get('timbres_subset') == "fab" %}class="active"{% endif %}><a href="{{ path('timbres_fabricants') }}">Fabricants</a></li>
                  <li role="presentation" {% if app.session.get('timbres_subset') == "bin" %}class="active"{% endif %}><a href="{{ path('timbres_binominaux') }}">Bi-nominaux</a></li>
                  <li role="presentation" {% if app.session.get('timbres_subset') == "amp" %}class="active"{% endif %}><a href="{{ path('timbres_amphores') }}">Amphores</a></li>
                </ul>
            </div>
            <div class="col-md-10">
                {% include 'NTEAgathoklesBundle:Fiches:index/filters.html.twig' %}
                <p class="lead">
                    {{ pager|length }} timbres sur un total de {{ all }}.
                </p>
                <div id="fiches-grid" class="row" data-columns>
                    {% for fiche in pager.currentPageResults %}
                        {% include 'NTEAgathoklesBundle:Fiches:index/fiche.html.twig' %}
                    {% endfor %}
                </div>
                {% if pager and pager.haveToPaginate %}
                    <div class="pagerfanta text-center">
                        {{ pagerfanta(pager, 'twitter_bootstrap3') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block body_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/nteagathokles/js/salvattore.min.js') }}"></script>
{% endblock %}
