{# src/NTE/AgathoklesBundle/Resources/views/Fiches/show.html.twig #}

{% extends "NTEAgathoklesBundle:Default:layout.html.twig" %}

{% block matrices_active %}active{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset('bundles/nteagathokles/js/jquery.elevateZoom-3.0.3.min.js') }}'></script>
{% endblock %}

{% block agathokles_content %}

    <div class="container" id="fiche">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h1 id="title">{{ fiche.fullname }}</h1>
                </div>
                <div class="col-sm-6">
                    {% include "NTEAgathoklesBundle:Fiches:show/nav.html.twig" %}
                </div>
            </div>
        </div>
        <div>{{ fiche.getTaxoTypeKey }}</div>

        <div class="masonry-grid row">
            <div class="masonry-grid-sizer"></div>
            {% include "NTEAgathoklesBundle:Fiches:show/illustration.html.twig" %}
            {% include "NTEAgathoklesBundle:Fiches:show/type.html.twig" %}
            {% include "NTEAgathoklesBundle:Fiches:show/matrice.html.twig" %}
            {% include "NTEAgathoklesBundle:Fiches:show/associations.html.twig" %}
            {% include "NTEAgathoklesBundle:Fiches:show/date.html.twig" %}
            {% include "NTEAgathoklesBundle:Fiches:show/exemplaires.html.twig" %}
        </div>
    </div>

{% endblock %}

{% block body_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/nteagathokles/js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/nteagathokles/js/z_fiches.js') }}"></script>
{% endblock %}
