{# src/NTE/AgathoklesBundle/Resources/views/Default/fiche.html.twig #}

{% extends "NTEAgathoklesBundle:Default:layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
        <script src='{{ asset('bundles/nteagathokles/js/jquery.elevateZoom-3.0.3.min.js') }}'></script>
{% endblock %}

{% block agathokles_sideblock %}
{% endblock %}

{% block agathokles_content %}

<div class="container-fluid">
    <div class="row">
        <div id="map2"></div>
        <script src="{{ asset('bundles/nteagathokles/js//leafletjs/leaflet.js') }}" type="text/javascript"></script>
        <script type="text/javascript">
            var lat = {{ fiche.lieuDeDecouverte ? fiche.lieuDeDecouverte.lat : 42.5 }};
            var lng = {{ fiche.lieuDeDecouverte ? fiche.lieuDeDecouverte.lng : 20.6 }};
            var marker;

            var amphoreIcon = L.icon({
                iconUrl: '{{ asset('bundles/nteagathokles/js/leafletjs/') }}images/marker_amphore.png',
                iconRetinaUrl: '{{ asset('bundles/nteagathokles/js/leafletjs/') }}images/marker_amphore-2x.png',
                shadowUrl: '{{ asset('bundles/nteagathokles/js/leafletjs/') }}images/marker-shadow.png',
                iconSize: [25, 41],
                iconAnchor:   [12, 40],
                popupAnchor:  [1, -45],
            });

            var map = L.map('map2', {attributionControl: true, zoomControl:false}).setView([lat, lng], 5);
            map.dragging.disable();

            L.tileLayer('{{ asset('bundles/nteagathokles/maps') }}/{z}/{x}/{y}.png', {
                maxZoom: 5,
                minZoom: 5,
                attribution: 'Carte: OpenStreetMap MapQuest, données <strong>Agathokles/<a href="http://www.unifr.ch">UniFR</a></strong>',
            }).addTo(map);

            {% if fiche.lieuDeDecouverte %}
            $( document ).ready(function() {
                marker = L.marker([lat, lng], {icon : amphoreIcon}).addTo(map);
                marker.on("click", function() {
                    window.open("{{ path('lieu_show', { 'id': fiche.lieuDeDecouverte.id }) }}", target="_parent");
                    }
                );
            });
            {% endif %}
        </script>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            {% include "NTEAgathoklesBundle:Fiches:show/nav.html.twig" %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <script type="text/javascript" src="{{ asset('bundles/nteagathokles/js/jQuery-Storage-API/jquery.storageapi.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/nteagathokles/js/jstorage.js') }}"></script>
            <div style="float: right; text-align: right;" class="droite hidden-print">
                <div id="memory">
                    <a href="#" onclick="javascript:addToBasket({{ fiche.id }})">S&eacute;lectionner la fiche</a>
                </div>
                <div id="no-memory" style="display: none; color: #CCC">
                    S&eacute;lectionner la fiche
                </div>
                <a data-toggle="modal" href="#panier">Gérer le Panier</a> -
                <a href="{{ path('nte_agathokles_default_panier') }}">Comparer</a>
            </div>
            <div id="panier" class="modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>Votre panier</h3>
                    </div>
                    <div class="modal-body">
                        <div id="panier-body"></div>
                        <br />
                        <div class="accordion" id="accordion2">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                    Envoyer par e-mail
                                    </a>
                                </div>
                                <div id="collapseTwo" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        {{ form_start(emailform) }}
                                            {{ form_errors(emailform) }}
                                            {{ form_row(emailform.email) }}
                                            <div style="display: none;">{{ form_row(emailform.message2) }}</div>
                                        {{ form_end(emailform) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <script>
                displayBasket();
            </script>
            <div id="formMail" class="modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>Envoyer la s&eacute;lection par e-mail</h3>
                    </div>
                    <div class="modal-body" id="panier-body">

                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1 id="title">{% include "NTEAgathoklesBundle:Fiches:designation.html.twig" %}</h1>
            <br />
        </div>
    </div>

    {% if(alert) %}
        <div class="row">
            <div class="alert fade in alert-primary span8 offset1">
                <button class="close" data-dismiss="alert" type="button">×</button>
                <strong>{{ alert }}</strong>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-6">
            {% include "NTEAgathoklesBundle:Fiches:show/illustration.html.twig" %}
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            {% include "NTEAgathoklesBundle:Fiches:show/type.html.twig" %}
            {% include "NTEAgathoklesBundle:Fiches:show/matrice.html.twig" %}
            {% include "NTEAgathoklesBundle:Fiches:show/associations.html.twig" %}
            {% include "NTEAgathoklesBundle:Fiches:show/date.html.twig" %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% include "NTEAgathoklesBundle:Fiches:show/exemplaires.html.twig" %}
        </div>
    </div>

    <div class="row bottom-spacer">
        <div class="col-sm-12 text-center">
            {% include "NTEAgathoklesBundle:Fiches:show/nav.html.twig" %}
        </div>
    </div>

</div>

{% endblock %}
