{# src/NTE/AgathoklesBundle/Resources/views/Default/index.html.twig #}
<!DOCTYPE html>
<html>
    <head>
    <title>{{ titre|striptags }} - Agathokles - Université de Fribourg</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="keywords" lang="fr" content="universit&eacute;, formation, suisse, fribourg, recherche, &eacute;tudes" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/nteagathokles/css/bootstrap.min.css') }}" type="text/css" media="all" />

        <link href="{{ asset('bundles/nteagathokles/css/unifr.101.css') }}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/nteagathokles/js/jquery-ui-1.11.2/jquery-ui.min.css') }}" type="text/css" />

        <link rel="stylesheet" href="{{ asset('bundles/nteagathokles/css/skin.css') }}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ asset('bundles/nteagathokles/css/style.css') }}" type="text/css" media="screen" />

        <link rel="stylesheet" href="{{ asset('bundles/nteagathokles/js/leafletjs/leaflet.css') }}" />
        <style>
            #map { height: 500px; border: 1px solid black; }
        </style>
    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/nteagathokles/js/jquery-2.1.1.min.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/nteagathokles/js/jquery-ui-1.11.2/jquery-ui.min.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/nteagathokles/js/agathokles.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/nteagathokles/js/bootstrap.min.js') }}"></script>
    {% endblock %}
    </head>

    <body>

        <div class="container main" style="text-align: left;">
            <div id="webpage2">
      <!-- start:identite -->
        <div id="identity" class="hidden-sm hidden-xs">
            <div class="bandeau">
                <a href="http://www.unifr.ch"><img class="bandeau-faculty" border="0" src="{{ asset('bundles/nteagathokles/img/bandeau_unifr_universite.jpg') }}" alt="Université de Fribourg | Universität Freiburg"></a>
                <div id="address2">
                    <div class="txt">
                        <a href="{{ path('home') }}">AGATHOKLES</a>
                    </div>
                </div>
            </div>
        </div>

      <div class="visible-sm visible-xs">
        <img src="{{ asset('bundles/nteagathokles/img/bandeau_unifr_universite.jpg') }}" alt="UniFR Logo" />
      </div>
      <!-- end:identite -->

                <!-- start:navig 2 -->
                <nav class="navbar navbar-default" role="navigation">
                  <div class="container-fluid">

                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand brand" href="{{ path('home') }}">Agathokles</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
                        <li><a href="{{ path('home') }}">Home</a></li>
                        <li><a href="{{ path('recherche') }}">Recherche</a></li>
                        <li><a href="{{ path('page_show', {id: 4} ) }}">Notices d'utilisation</a></li>
                        <li><a href="{{ path('page_show', {id: 5} ) }}">Information</a></li>
                        <li><a href="{{ path('contact') }}">Contact</a></li>
                        <li><a href="{{ path('faq') }}">FAQ</a></li>
                      </ul>

                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://unifr.ch">Unifr</a></li>
                        <li><a href="http://nte.unifr.ch">Centre NTE</a></li>
                      </ul>
                    </div>
                  </div>
                </nav>
                <!-- end:navig 2 -->

                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span3 hidden-phone">
                                <!-- box menu2 -->
                                {% block agathokles_sideblock %}
                                    <!-- box blog -->
                                    <div class="box001">
                                    </div>
                                    <!-- end:box blog -->
                                {% endblock %}
                        </div>

                        <!-- end:colonneLeft -->
                        <div class="span9">
                            <ul style="margin-right: 10px;">
                                <!-- start:colonneRight -->
                                <div id="content2">
                                    {% block agathokles_content %}
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-10">
                                            <div align="center">
                                                <p>
                                                    <strong>{% if page.introduction is defined %}{{ page.introduction|raw }}{% endif %}</strong>
                                                </p>
                                                <p>
                                                    {% if page.text is defined %}{{ page.text|raw }}{% endif %}
                                                </p>

                                                <div id="map"></div>
                                                <script src="{{ asset('bundles/nteagathokles/js//leafletjs/leaflet.js') }}" type="text/javascript"></script>
                                                <script type="text/javascript">
                                                    var lat;
                                                    var lng;
                                                    var marker;

                                                    var amphoreIcon = L.icon({
                                                        iconUrl: '{{ asset('bundles/nteagathokles/js/leafletjs/') }}images/marker_amphore.png',
                                                        iconRetinaUrl: '{{ asset('bundles/nteagathokles/js/leafletjs/') }}marker_amphore-2x.png',
                                                        shadowUrl: '{{ asset('bundles/nteagathokles/js/leafletjs/') }}images/marker-shadow.png',
                                                        iconSize: [25, 41],
                                                        iconAnchor:   [12, 40],
                                                        popupAnchor:  [1, -45],
                                                    });

                                                    var map = L.map('map', {attributionControl: true}).setView([37.05, 7.16], 4);
                                                    map.setMaxBounds([[59.689926, -9.239258], [25.363882, 46.538086]]);

                                                    L.tileLayer('{{ asset('bundles/nteagathokles/maps') }}/{z}/{x}/{y}.png', {
                                                        maxZoom: 8,
                                                        minZoom: 4,
                                                        attribution: 'Carte: OpenStreetMap MapQuest, données <strong>Agathokles/<a href="http://www.unifr.ch">UniFR</a></strong>',
                                                    }).addTo(map);

                                                    $( document ).ready(function() {
                                                        {% for pt in lieux %}
                                                        marker = L.marker([{{ pt.lat }}, {{ pt.lng }}], {icon : amphoreIcon}).addTo(map);
                                                        marker.bindPopup("<b>{{ pt.nom }} ({{ pt.fiches|length }} {{ pt.fiches|length > 1 ? 'timbres' : 'timbre' }})</b><br><a href=\"{{ path('lieu_show', { 'id': pt.id }) }}\">Voir tous les timbres de ce lieu</a>.");
                                                        {% endfor %}
                                                    });
                                                </script>
                                            </div>
                                        </div>
                                    {% endblock %}
                                <!-- end:colonneRight -->
                            </ul>
                        </div>
                    </div>

                </div>
                <!-- end:main -->

                    <!-- start:signature -->
                    <div id="signature">
                        Conception et réalisation : N. Badoud &amp; <a href="http://www.unifr.ch/nte/">Centre NTE</a> - Université de Fribourg - Suisse
                    </div>
                    <!-- end:signature -->

            </div>
        </div>
    </body>
</html>
