{# src/NTE/AgathoklesBundle/Resources/views/Default/layout.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ titre|striptags }} - Agathokles - Université de Fribourg</title>
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset('bundles/nteagathokles/images/favicon/apple-touch-icon-57x57.png?v=2') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/nteagathokles/images/favicon/apple-touch-icon-114x114.png?v=2') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/nteagathokles/images/favicon/apple-touch-icon-72x72.png?v=2') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/nteagathokles/images/favicon/apple-touch-icon-144x144.png?v=2') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ asset('bundles/nteagathokles/images/favicon/apple-touch-icon-60x60.png?v=2') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset('bundles/nteagathokles/images/favicon/apple-touch-icon-120x120.png?v=2') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset('bundles/nteagathokles/images/favicon/apple-touch-icon-76x76.png?v=2') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset('bundles/nteagathokles/images/favicon/apple-touch-icon-152x152.png?v=2') }}" />
        <link rel="icon" type="image/png" href="{{ asset('bundles/nteagathokles/images/favicon/favicon-196x196.png?v=2') }}" sizes="196x196" />
        <link rel="icon" type="image/png" href="{{ asset('bundles/nteagathokles/images/favicon/favicon-96x96.png?v=2') }}" sizes="96x96" />
        <link rel="icon" type="image/png" href="{{ asset('bundles/nteagathokles/images/favicon/favicon-32x32.png?v=2') }}" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{ asset('bundles/nteagathokles/images/favicon/favicon-16x16.png?v=2') }}" sizes="16x16" />
        <link rel="icon" type="image/png" href="{{ asset('bundles/nteagathokles/images/favicon/favicon-128.png?v=2') }}" sizes="128x128" />
        <meta name="application-name" content="&nbsp;"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="{{ asset('bundles/nteagathokles/images/favicon/mstile-144x144.png?v=2') }}" />
        <meta name="msapplication-square70x70logo" content="{{ asset('bundles/nteagathokles/images/favicon/mstile-70x70.png?v=2') }}" />
        <meta name="msapplication-square150x150logo" content="{{ asset('bundles/nteagathokles/images/favicon/mstile-150x150.png?v=2') }}" />
        <meta name="msapplication-wide310x150logo" content="{{ asset('bundles/nteagathokles/images/favicon/mstile-310x150.png?v=2') }}" />
        <meta name="msapplication-square310x310logo" content="{{ asset('bundles/nteagathokles/images/favicon/mstile-310x310.png?v=2') }}" />

        <meta name="keywords" lang="fr" content="universit&eacute;, formation, suisse, fribourg, recherche, &eacute;tudes" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block stylesheets %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" type="text/css" media="all" />
            <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" type="text/css" />
            <link href="{{ asset('bundles/nteagathokles/css/unifr.101.css') }}" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" href="{{ asset('bundles/nteagathokles/css/skin.css') }}" type="text/css" media="screen" />
            <link rel="stylesheet" href="{{ asset('bundles/nteagathokles/css/style.css') }}" type="text/css" media="screen" />
            <link rel="stylesheet" href="{{ asset('bundles/nteagathokles/css/z_main.css') }}" type="text/css" media="screen" />
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="//code.jquery.com/jquery-1.11.2.min.js"></script>
            <script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
            <script type="text/javascript" src="{{ asset('bundles/nteagathokles/js/agathokles.js') }}"></script>
            <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        {% endblock %}
    </head>

    <body class="fill">

        <div class="container hidden-print">
            <div id="webpage2">
                <div id="identity" class="hidden-xs">
                    <div class="bandeau">
                        <a href="http://www.unifr.ch"><img class="bandeau-faculty" border="0" src="{{ asset('bundles/nteagathokles/img/bandeau_unifr_universite.jpg') }}" alt="Université de Fribourg | Universität Freiburg"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid sans-bord">
            <nav class="navbar navbar-default sans-bord" role="navigation">
              <div class="container">
              <div class="container">

                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand brand" href="{{ path('home') }}">Agathokles</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li><a href="{{ path('home') }}">Carte</a></li>
                    <li><a href="{{ path('timbres') }}">Timbres</a></li>
                  </ul>

                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="{{ path('faq') }}">FAQ</a></li>
                      <li><a href="{{ path('credits') }}">Crédits</a></li>
                      <li><a href="{{ path('contact') }}">Contact</a></li>
                  </ul>
                </div>
              </div>
              </div>
            </nav>
        </div>

        {% block agathokles_content %}
        {% endblock %}


        {% block footer %}
            <div class="container footer">
                <div class="row">
                    <div class="col-sm-12" align="center">
                        <p align="center">
                            &copy; Conception : N. Badoud &amp; <a href="http://www.unifr.ch/nte/">Centre NTE</a> - Université de Fribourg - Suisse<br>
                            All the content is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.
                        </p>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block body_javascripts %}
        {% endblock %}

    </body>
</html>
