<div id="fiche_{{ fiche.id }}" class="thumbnail">
  <a href="{{ path('matrice', {'id': fiche.id }) }}">
    {% if fiche.images.0 is defined %}
      <img src="{% path fiche.images.0.media, 'index' %}" alt="{{ fiche.id }}" data-toggle="tooltip" data-placement="bottom" title="{{ fiche.legende }}">
    {% else %}
      <img src="{{ asset('bundles/nteagathokles/images/no-image.png') }}" alt="no image">
    {% endif %}
    <div class="caption">
      <h3 class="max-lines">{{ fiche.__toString }}</h3>
      <p>Exemplaires : <span class="badge">{{ fiche.timbres | length }}</span></p>
    </div>
  </a>
</div>
