{# src/NTE/AgathoklesBundle/Resources/views/Fiches/fiche.html.twig #}

<ul class="nav nav-pills nav-stacked">
  <li role="presentation" {% if app.session.get('matrices_subset') == "all" %}class="active"{% endif %}>
      <a href="{{ path('matrices') }}">Toutes</a>
  </li>
  <li role="presentation" {% if app.session.get('matrices_subset') == "epo" %}class="active"{% endif %}>
      <a href="{{ path('matrices_eponymes') }}">Éponymes</a>
  </li>
  <li role="presentation" {% if app.session.get('matrices_subset') == "fab" %}class="active"{% endif %}>
      <a href="{{ path('matrices_fabricants') }}">Fabricants</a>
  </li>
  <li role="presentation" {% if app.session.get('matrices_subset') == "bin" %}class="active"{% endif %}>
      <a href="{{ path('matrices_binominaux') }}">Bi-nominaux</a>
  </li>
  <li role="presentation" {% if app.session.get('matrices_subset') == "amp" %}class="active"{% endif %}>
      <a href="{{ path('matrices_amphores') }}">Amphores</a>
  </li>
</ul>
