{# src/NTE/AgathoklesBundle/Resources/views/Fiches/show/exemplaires.html.twig #}

<legend>Exemplaires</legend>

{% if fiche.timbres|length > 0 %}
    <ul>
        {% set counter = 1 %}
        {% for timbre in fiche.timbres %}
            <li>
                E{{ counter }}.&nbsp;
                {% if timbre.reference %}
                    {{ timbre.reference }}.&nbsp;
                {% endif %}
                {% if timbre.lieu %}
                    <a href="{{ path('lieu_show', { 'id': timbre.lieu.id }) }}">
                        {{ timbre.lieu }} <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    </a>.&nbsp;
                {% endif %}
                {{ timbre.remarques | striptags | raw }}
                {% set counter = counter+1 %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Aucun exemplaire</p>
{% endif %}
