{# src/NTE/AgathoklesBundle/Resources/views/Fiches/show/type.html.twig #}

<div class="panel panel-default masonry-grid-item">
    <div class="panel-heading">
        <h3 class="panel-title">Type</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            {% if fiche.forme %}
                <tr>
                    <td><strong>Forme</strong></td>
                    <td>{{ fiche.forme.nom }}</td>
                </tr>
            {% endif %}
            {% if fiche.fabricant %}
                <tr>
                    <td><strong>Fabricant</strong></td>
                    <td id="fabricant">
                        {{ fiche.fabricant.nom }}
                        {% if fiche.fabIdInc %}(?){% endif %}
                    </td>
                </tr>
            {% endif %}
            {% if fiche.eponyme %}
                <tr>
                    <td><strong>Éponyme</strong></td>
                    <td>
                        {{ fiche.eponyme.nom }}
                        {% if fiche.epoIdInc %}(?){% endif %}
                    </td>
                </tr>
            {% endif %}

            {% if fiche.mois %}
                <tr>
                    <td><strong>Mois</strong></td>
                    <td>
                        {{ fiche.mois.nom }}
                        {% if fiche.moisIdInc %}(?){% endif %}
                    </td>
                </tr>
            {% endif %}

            {% if fiche.embleme %}
                <tr>
                    <td><strong>Emblème</strong></td>
                    <td>
                        {{ fiche.embleme.nom }}
                    </td>
                </tr>
            {% endif %}

            {% if fiche.legendeCentrifuge %}
                <tr>
                    <td><strong>Légende centrifuge</strong></td>
                    <td>
                        <i class="fa fa-check"></i>
                    </td>
                </tr>
            {% endif %}

            {% if fiche.legendeCentripete %}
                <tr>
                    <td><strong>Légende centripète</strong></td>
                    <td>
                        <i class="fa fa-check"></i>
                    </td>
                </tr>
            {% endif %}

            {% if fiche.legendeRetrograde %}
                <tr>
                    <td><strong>Légende rétrograde</strong></td>
                    <td>
                        <i class="fa fa-check"></i>
                    </td>
                </tr>
            {% endif %}

            {% if fiche.legendeBoustrophedon %}
                <tr>
                    <td><strong>Légende boustrophédon</strong></td>
                    <td>
                        <i class="fa fa-check"></i>
                    </td>
                </tr>
            {% endif %}

            {% if fiche.legendeTournante %}
                <tr>
                    <td><strong>Légende tournante</strong></td>
                    <td>
                        <i class="fa fa-check"></i>
                    </td>
                </tr>
            {% endif %}

            {% if fiche.legendeMontante %}
                <tr>
                    <td><strong>Légende montante</strong></td>
                    <td>
                        <i class="fa fa-check"></i>
                    </td>
                </tr>
            {% endif %}

            {% if fiche.lettreRetrograde %}
                <tr>
                    <td><strong>Lettre(s) rétrograde(s)</strong></td>
                    <td>
                        {{ fiche.lettreRetrograde }}
                    </td>
                </tr>
            {% endif %}

            {% if fiche.lettreLunaire %}
                <tr>
                    <td><strong>Lettre(s) lunaire(s)</strong></td>
                    <td>
                        {{ fiche.lettreLunaire }}
                    </td>
                </tr>
            {% endif %}

            {% if fiche.lettreRenversee %}
                <tr>
                    <td><strong>Lettre(s) renversée(s)</strong></td>
                    <td>
                        {{ fiche.lettreRenversee }}
                    </td>
                </tr>
            {% endif %}

            {% if fiche.particulariteOrthographique %}
                <tr>
                    <td><strong>Particularité(s) orthographique(s)</strong></td>
                    <td>
                        {{ fiche.particulariteOrthographique }}
                    </td>
                </tr>
            {% endif %}

            {% if fiche.epi %}
                <tr>
                    <td><strong>&#7952;&#960;&#943; omis</strong></td>
                    <td>
                        <i class="fa fa-check"></i>
                    </td>
                </tr>
            {% endif %}

            {% if fiche.para %}
                <tr>
                    <td><strong>&#960;&#945;&#961;&#8048;</strong></td>
                    <td>
                        <i class="fa fa-check"></i>
                    </td>
                </tr>
            {% endif %}

            {% if fiche.iereus %}
                <tr>
                    <td><strong>titre (&#7984;&#949;&#961;&#949;&#973;&#962;/ΕΙ)</strong></td>
                    <td>
                        <i class="fa fa-check"></i>
                    </td>
                </tr>
            {% endif %}

            {% if fiche.ergastiriarchas %}
                <tr>
                    <td><strong>ἐργαστηριάρχας</strong></td>
                    <td>
                        <i class="fa fa-check"></i>
                    </td>
                </tr>
            {% endif %}

            {% if fiche.metoikos %}
                <tr>
                    <td><strong>&#956;&#941;&#964;&#959;&#953;&#954;&#959;&#962;</strong></td>
                    <td>
                        <i class="fa fa-check"></i>
                    </td>
                </tr>
            {% endif %}

            {% if fiche.engenis %}
                <tr>
                    <td><strong>ἐγγενής</strong></td>
                    <td>
                        <i class="fa fa-check"></i>
                    </td>
                </tr>
            {% endif %}

            {% if fiche.meis %}
                <tr>
                    <td><strong>&#956;&#949;&#943;&#962;</strong></td>
                    <td>
                        <i class="fa fa-check"></i>
                    </td>
                </tr>
            {% endif %}

            {% if fiche.ete %}
                <tr>
                    <td><strong>&#7952;&#964;&#8134;</strong></td>
                    <td>
                        {{ fiche.ete }}
                    </td>
                </tr>
            {% endif %}

            {% if fiche.ethniqueDemotique %}
                <tr>
                    <td><strong>Ethnique démotique</strong></td>
                    <td>
                        {{ fiche.ethniqueDemotique.nom }}
                    </td>
                </tr>
            {% endif %}

            {% if fiche.separation %}
                <tr>
                    <td><strong>Séparation</strong></td>
                    <td>
                        {{ fiche.separation }}
                    </td>
                </tr>
            {% endif %}

            {% if fiche.position %}
                <tr>
                    <td><strong>Position</strong></td>
                    <td>
                        {{ fiche.position }}
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>
</div>
