{# src/NTE/AgathoklesBundle/Resources/views/Fiches/show/type.html.twig #}

<div class="panel panel-default masonry-grid-item">
    <div class="panel-heading">
        <h3 class="panel-title">Type</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            {% if fiche.forme %}
                <tr>
                    <td><strong>Forme</strong></td>
                    <td>{{ fiche.forme.nom }}</td>
                </tr>
            {% endif %}
            {% if fiche.fabricant %}
                <tr>
                    <td><strong>Fabricant</strong></td>
                    <td id="fabricant">
                        {{ fiche.fabricant.nom }}
                        {% if fiche.fabIdInc %}(?){% endif %}
                    </td>
                </tr>
            {% endif %}
            {% if fiche.eponyme %}
                <tr>
                    <td><strong>Éponyme</strong></td>
                    <td>
                        {{ fiche.eponyme.nom }}
                        {% if fiche.epoIdInc %}(?){% endif %}
                    </td>
                </tr>
            {% endif %}

            {% if fiche.mois %}
                <tr>
                    <td><strong>Mois</strong></td>
                    <td>
                        {{ fiche.mois.nom }}
                        {% if fiche.moisIdInc %}(?){% endif %}
                    </td>
                </tr>
            {% endif %}

            {% if fiche.embleme %}
                <tr>
                    <td><strong>Emblème</strong></td>
                    <td>
                        {{ fiche.embleme.nom }}
                    </td>
                </tr>
            {% endif %}

            {% if fiche.epi %}
                <tr>
                    <td><strong>&#7952;&#960;&#943; omis</strong></td>
                    <td>
                        <span class="glyphicon glyphicon-ok text-success" title="oui" aria-hidden="true"></span>
                    </td>
                </tr>
            {% endif %}

            {% if fiche.para %}
                <tr>
                    <td><strong>&#960;&#945;&#961;&#8048;</strong></td>
                    <td>
                        <span class="glyphicon glyphicon-ok text-success" title="oui" aria-hidden="true"></span>
                    </td>
                </tr>
            {% endif %}

            {% if fiche.iereus %}
                <tr>
                    <td><strong>titre (&#7984;&#949;&#961;&#949;&#973;&#962;/ΕΙ)</strong></td>
                    <td>
                        <span class="glyphicon glyphicon-ok text-success" title="oui" aria-hidden="true"></span>
                    </td>
                </tr>
            {% endif %}

            {% if fiche.metoikos %}
                <tr>
                    <td><strong>&#956;&#941;&#964;&#959;&#953;&#954;&#959;&#962;</strong></td>
                    <td>
                        <span class="glyphicon glyphicon-ok text-success" title="oui" aria-hidden="true"></span>
                    </td>
                </tr>
            {% endif %}

            {% if fiche.meis %}
                <tr>
                    <td><strong>&#956;&#949;&#943;&#962;</strong></td>
                    <td>
                        <span class="glyphicon glyphicon-ok text-success" title="oui" aria-hidden="true"></span>
                    </td>
                </tr>
            {% endif %}

            {% if fiche.ete %}
                <tr>
                    <td><strong>&#7952;&#964;&#8134;</strong></td>
                    <td>
                        {{ fiche.ete }}
                    </td>
                </tr>
            {% endif %}

            {% if fiche.ethniqueDemotique %}
                <tr>
                    <td><strong>Ethnique démotique</strong></td>
                    <td>
                        {{ fiche.ethniqueDemotique.nom }}
                    </td>
                </tr>
            {% endif %}

            {% if fiche.separation %}
                <tr>
                    <td><strong>Séparation</strong></td>
                    <td>
                        {{ fiche.separation }}
                    </td>
                </tr>
            {% endif %}

            {% if fiche.position %}
                <tr>
                    <td><strong>Position</strong></td>
                    <td>
                        {{ fiche.position }}
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>
</div>
